* {
    box-sizing: border-box;
}

table, th, td{
  //border: 1px solid black;
  border-collapse:collapse;
  padding:30px;
}

td:hover {
  background-color: lightpink;
}

th:hover {
  background-color: lightgreen;
}

p:hover{
  background-color: yellow;
}

.first-info{
    width: 100%;
    height: 100%;
    background-image: url( "{% static 'bg.png' %}");
}

.row{
}
