{% load static %}

<!DOCTYPE html>
<html>
<head>
    <h1 style="text-align:center; margin-top:100px; font-style: oblique"> Welcome to Restaurant Review.com </h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <form type="get" action="/result/" style="text-align:center;margin-top:100px">

        <div class="container">
            <input class="form-control" type="text" placeholder="Search by Restaurants" style="width: 400px; margin: auto" aria-label="Search">
            <br />
            <button class="btn btn-primary" id="submit" type="submit">Search</button>
        </div>

        <!--<input id="search_bar" type="text" name="search_bar" style="height:30px; width:400px; margin-right:20px; font-size:15px">-->
        <br><br><input type="checkbox" name="checkbox">Search by Reviews instead
    </form>
</body>
</html>
