{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <h1 style="text-align:center; margin-top:100px; font-style: oblique"> Welcome to Restaurant Review.com </h1>
    <link rel="stylesheet" type="text/css" href="mycss.css">
  </head>

<body>
<form type="get" action="/result/" style="text-align:center;margin-top:100px">

    <input  id="search_bar" type="text" name="search_bar" style="height:30px; width:400px; margin-right:20px; font-size:15px">
    <button id="submit" type="submit" style="height:20px; width:60px">Search</button>
    <br><br><input type="checkbox" name="checkbox">search by review
</form>
</body>
</html>
