{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <form type="get" action="/result/" style="text-align:center;margin-top:40px; margin-bottom:50px">

      <input  id="search_bar" type="text" name="search_bar" style="height:30px; width:400px; margin-right:20px; font-size:15px">
      <button id="submit" type="submit" style="height:20px; width:60px">Search</button>
      <br><br><input type="checkbox" name="checkbox">search by review

  </form>

  <h1 style="text-align:center; margin-top:100px; margin-down:10px; font-size:20px; font-style: oblique"> Reviews</h1>
</head>

<body>
  <table style="margin-left:100px; margin-top:20px; margin-right:50px">
      <tr>
        <th> Sentiments </th>
        <th> Rating </th>
        <th> Comment </th>
      </tr>
      {% for x in doc %}
      <tr>
        <td id="sentiments"> {% if x.label.0 == 1 %} Positive
                              {% elif x.label.0 == 0 %} Neutral
                              {% elif x.label.0 == -1 %} Negative
                                                            {% endif %}</td>
        <td id="rating">{{x.Rating | cut:"['" | cut:"']"}}</td>
        <td id="review" style="padding:10px">{{x.Reviews | cut:"['" | cut:"']"}}</td>
      </tr>
      {% endfor %}
    </table>
</body>
</html>
